<form  #form="ngForm" (ngSubmit)="register()">
  <div class="example-container">
    <mat-form-field>
      <input
       matInput 
       placeholder="Nome Cliente"
       type="text" 
       [(ngModel)]="client.name" 
       name="name"
       id="inputName"
       #name="ngModel"
       required>
    </mat-form-field>
    <div class="row">
      <mat-form-field class="limit">
        <input 
         matInput placeholder="Limite de Credito"
          type="number" 
          class="example-right-align"
          [(ngModel)]="client.limit" 
          name="limit"
          id="inputName"
          #limit="ngModel"
          required>
        <span matPrefix>R$&nbsp;</span>
        <span matSuffix>,00</span>
      </mat-form-field>
      <mat-form-field class="limit m-l">
        <mat-select 
          placeholder="Selecione o tipo de rico"
          [(ngModel)]="client.risc" 
          name="risc"
          id="inputRisc"
          #risc="ngModel"
          required>
          <mat-option value="A">Risco A</mat-option>
          <mat-option value="B">Risco B</mat-option>
          <mat-option value="C">Risco C</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button class="btn"   [disabled]="!form.valid" mat-raised-button  color="basic">Salvar</button>
  </div>
</form>
