.example-container {
    display: flex;
    flex-direction: column;
  }
  
.example-container > * {
    width: 100%;
  }

 .example-right-align {
    text-align: right;
  }
  
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
input.example-right-align {
    -moz-appearance: textfield;
  }

.limit {
  width: 48% !important
}

.m-l {
  margin-left: 4%;
}

.btn{
  width: 48% !important;
  margin-left: 52%;
}
