<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Cadastro de Clientes</mat-card-title>
    <mat-card-subtitle>Insira abaixo as informações do novo cliente</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
       <app-form></app-form>
      <router-outlet ></router-outlet>
  </mat-card-content>
</mat-card>