<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="limit">
      <th mat-header-cell *matHeaderCellDef> Limite de Credito </th>
      <td mat-cell *matCellDef="let element"> {{ element.limit | currency:'R$ ': true:'1.2-2' }} </td>
    </ng-container>
    <ng-container matColumnDef="risc">
      <th mat-header-cell *matHeaderCellDef> Risco </th>
      <td mat-cell *matCellDef="let element"> {{element.risc}} </td>
    </ng-container>
    <ng-container matColumnDef="tax">
      <th mat-header-cell *matHeaderCellDef> Taxa de Juros </th>
      <td mat-cell *matCellDef="let element"> {{ (element.interestRate === 0 ? 'Sem Taxa' : element.interestRate )}}
        <span *ngIf="element.interestRate != 0" >%</span>
      </td> 
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element"> 
            <button class="btn" mat-raised-button  color="warn" (click)="delete(element.id)">Apagar</button>
        </td> 
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
</div>
